.brand{
    color: rgb(92, 33, 219);
}
.todo-form-body{
    background-color: rgb(219, 224, 224);
    width: auto;
    height: auto;
    display: grid;
    grid-gap:5px;
    border-radius: 5px;
}

.btn-submit{
    width: 100px;
    align-items: center;
}

 /* NavBar */
.todo-links{
    display: flex;
    grid-gap: 40px;
    width: auto;
}
